.planCardHeader,
.planCardContent {
  text-align: center;
}

.planCardContent {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.planFeature {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.xIcon {
  color: var(--destructive);
}

.checkIcon {
  color: var(--primary);
}

.planSuffixContainer {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}

.planJoinButton {
  width: 100% !important;
  text-transform: uppercase;
}
