$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

@mixin media($breakpoint) {
  @each $key, $value in $breakpoints {
    @if $key == $breakpoint {
      @media (min-width: $value) {
        @content;
      }
    }
  }
}
