.storyRating {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}

.storyRatingStars {
  display: flex;
  align-items: center;
  gap: calc(0.5 * var(--spacing-sm));
}

.icon {
  color: var(--star);
  fill: var(--star);
}
