@import "@/styles/mixins";

.hero {
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.heroContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: var(--spacing-md);
  z-index: 2;
}

.heroHeadline {
  text-transform: capitalize;
}

.heroTagline {
}

@include media(sm) {
  .hero {
    // align-items: flex-start;
    // text-align: start;
  }
}
