@import "@/styles/mixins";

.hero {
  height: 80dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.heroContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: var(--spacing-md);
  z-index: 2;
}

.featured {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}

.featuredHeadline {
  text-align: center;
}

.featuredStories {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.featuredExploreMoreContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
