.cardContent {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.cardRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cardRowRightSection {
  flex-shrink: 0;
}
