.nav {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--card);
  height: var(--navbar-height);
  z-index: 9999;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
