@use "@/styles/mixins" as mixins;

.nav {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background);
  color: var(--foreground);
  height: var(--navbar-height);
  z-index: var(--z-index-navbar);
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.startContent {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
}

.title {
  font-family: var(--ui-font);
}

.endContent {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
}

.link {
  color: var(--card-foreground);
  text-decoration: none;
  position: relative;
  transition: color 0.2s ease-in-out;
  width: fit-content;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: var(--primary);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.2s ease-in-out;
  }

  &:hover {
    color: var(--primary);

    &::after {
      transform: scaleX(1);
      transform-origin: left;
    }
  }

  &[data-active="true"] {
    color: var(--primary);

    &::after {
      transform: scaleX(1);
      transform-origin: left;
    }
  }
}

.menuButtonContainer {
  display: block;
}

.drawerContent {
  width: 75vw;
  height: 100dvh;
}

.drawerBody {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  padding-inline: var(--spacing-md);
}

.drawerLinks {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.drawerActiveLinkText {
  color: var(--primary);
}

.drawerButton {
  width: 100% !important;
}

.links {
  display: none;
  align-items: center;
  gap: var(--spacing-md);
}

.searchAndThemeContainer {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
}

.authActions {
  display: none;
  gap: var(--spacing-sm);
}

.themeSelectContainer {
  width: 120px;
}

@include mixins.media(md) {
  .drawerContent {
    width: 50vw;
  }
}

@include mixins.media(lg) {
  .links {
    display: flex;
  }

  .searchAndThemeContainer {
    gap: var(--spacing-sm);
  }

  .authActions {
    display: flex;
  }

  .menuButtonContainer {
    display: none;
  }
}
