.main {
  padding-top: var(--navbar-height);
}

.headline {
  text-align: center;
}

.containerContent {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.backToStory {
  width: fit-content;
}

.proStoryContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: var(--spacing-md);
}
