@import "@/styles/mixins";

.noStoryMain {
  height: 80dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.noStoryContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-sm);
}

.main {
  padding-top: var(--navbar-height);
}

.headline {
  text-align: center;
}

.storyContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  margin-top: var(--spacing-lg);
}

.aboutDescriptions {
  display: flex;
  flex-direction: column;
  gap: calc(0.5 * var(--spacing-sm));
}

.reviewsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reviewsContent {
  display: flex;
  flex-direction: column;
  gap: calc(0.5 * var(--spacing-sm));
}
